@import "./styleres.css";

body {
	background-color: navy;
	color: white;
	margin: 0 auto;
	padding: 6pt;
	max-width: 1000px;
}

html,body {
	word-wrap: break-word;
	font-family: ui-sans-serif, sans-serif;
	font-size: 14.248px;
}
code,pre,tt,kbd,samp {
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: ui-monospace, Monaco, monospace;
	font-size: 14px;
}
hr { border-color: teal; }
ul li { color: white; }
a:link, a:visited {
	color: cyan;
	text-decoration: underline;
}
a:active, a:hover {
	color: lime;
	text-decoration: underline dotted;
}
* object * {
	padding: 0;
	margin: 0;
}
* {
	text-decoration: none;
/*	image-rendering: crisp-edges;
	image-rendering: pixelated;*/
}
dl { margin-bottom: 0px; }
dl dd { margin-bottom: 15px; }
#nav { margin-left: 0px; }
#nav li,
#nav li ul li { margin-bottom: 5px; }
#nav li ul { margin-left: 40px; padding-left: 20px; }
ul.noind, li.noind { margin-left: -40px; }
ul.hind, li.hind { margin-left: -20px; }
/*object.w112-h168 { width: 112px; height: 68px; }*/
/*object.w64-h64 { width: 64px; height: 64px; }*/
object br:first-child { position: absolute; margin: -100% 0 0 -100%; }
* p#webmark { margin: 0; padding: 0; }
* p#webmark * { padding: 0 5px 0 0; margin: 0; }
*.rmar, *.rmar-p { margin-right: 40px; }
*.no-vmar { margin-top: 0; margin-bottom: 0; }
*.ztmar { margin-top: 0; }
body.has-hf *.header-fleft {
	float: left;
	margin: 5px 5px 5px 0;
}
hr.first { margin-top: 0; margin-bottom: 0; }
hr.hend { clear: both; margin-top: 0; }
.hl { background-color: teal; }
.no-ui {
	font-size: 0px;
	line-height: 0px;
	position: absolute;
	margin: -32768px 0 0 -32768px;
}
*.has-ascii-art *.ascii-pic { white-space: pre; }
*.has-ascii-art *.ct { text-align: center; }
*.has-ascii-art *.ascii-mini { font-size: 5px; }
*.has-ascii-art *.ascii-norm { font-size: 6.48px; }
*.has-ascii-art *.ascii-big { font-size: 11px; }

@media only screen and (max-width: 350px) {
	body.has-hf .header-bleft {
		clear: both;
		width: 100%;
		min-width: 0;
	}
}