
body {
	background-color: navy;
	color: white;
	margin: 0;
	padding: 6pt;
/*	background-image: url("-asset/i/mstbg.gif");
	background-repeat: no-repeat;
	background-position: 50%;
	background-attachment: fixed;*/
}

html,body {
	word-wrap: break-word;
	font-family: ui-sans-serif, sans-serif;
	font-size: 14px;
}
code,pre,tt,kbd,samp {
	white-space: pre-wrap;
	word-wrap: break-word;
	tab-size: 31px;
	font-family: ui-monospace, Monaco, monospace;
	font-size: 14px;
}
html,body,img,object {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
hr { border-color: teal; }
ul li { color: white; }
a:link, a:visited {
	color: cyan;
	text-decoration: underline;
}
a:active, a:hover {
	color: lime;
	text-decoration: underline dotted;
}
dl { margin-bottom: 0px; }
dl dd { margin-bottom: 15px; }

*.no-topmar { margin-top: 0; }
*.hl { background-color: teal; }
* p#webmark { margin: 0; padding: 0; }
* p#webmark * { padding: 0 5px 0 0; margin: 0; }
* object * { font-size: 12px; padding: 0; margin: 0; }

object.w112-h168 { width: 112px; height: 68px; }
object.w64-h64 { width: 64px; height: 64px; }
object.has-ascii-art { display: block; padding: 0; color: cyan; }
object.has-ascii-art *.ascii-pic { word-break: keep-all; }
code.ascii-pic,
pre.ascii-pic,
tt.ascii-pic,
kbd.ascii-pic,
samp.ascii-pic
{ font-size: 5pt }

li.nomark {
	list-style: none;
	margin: 0;
	margin-left: -40px;
	padding: 0;
}

#nav {
	position: static;
	margin-left: 0px;
}
#nav li,
#nav li ul li { margin-bottom: 5px; }
#nav li ul {
	margin-left: 40px;
	padding-left: 20px;
}

#header, #footer { margin: 0; padding: 0; }
#header tr td { margin: 0; }
body.i-404 #header tr td h1 { padding: 5px; margin: 2pt 0 -2pt 0; }

#footer object,
#footer object *
{ margin-top: 0px; }

*.no-ui {
	font-size: 0px;
	line-height: 0px;
	position: absolute;
	margin: -32768px 0 0 -32768px;
}

@media only screen and (max-width: 500px) {
	#header tr td.logo-left.v-top { vertical-align: top; display: block; }
	#header tr td.headdef {
		display: block;
		padding: 0;
		margin: 0 0 -8pt -10px;
	}
}

@media only screen and (min-width: 600px) {
	body.has-nav { width: 80%; margin-left: 18%; }
	body.has-nav *.desk-hidden {
		position: absolute;
		margin: -32768px 0 0 -32768px;
	}
	body.has-nav #nav {
		position: absolute;
		/*position: fixed;*/
		top: 0;
		padding: 6pt;
		margin: 0;
		width: 17%;
		height: 100%;
		margin-left: -19%;
	}
	body.has-nav #nav li.nomark { margin-left: 0; }
	body.has-nav #nav li ul { margin-left: 0px; }
	* p#webmark.has-obj { padding-left: 80px; }
	#footer object { margin-top: -49px; }
}

@media only screen and (min-width: 650px) {
	body.has-nav { width: 75%; margin-left: 23%; }
	body.has-nav #nav { width: 22%; margin-left: -24%; }
}

@media only screen and (min-width: 700px) {
	body.has-nav { width: 70%; margin-left: 28%; }
	body.has-nav #nav { width: 27%; margin-left: -29%; }
}
