
body {
	background-color: navy;
	color: white;
	margin: 0;
	padding: 6pt;
}

html,body {
	word-wrap: break-word;
	font-family: ui-sans-serif, sans-serif;
	font-size: 14px;
}
code,pre,tt,kbd,samp {
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: ui-monospace, Monaco, monospace;
	font-size: 14px;
}
html,body,img,object {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
hr { border-color: teal; }
ul li { color: white; }
a:link, a:visited {
	color: cyan;
	text-decoration: underline;
}
a:active, a:hover {
	color: lime;
	text-decoration: underline dotted;
}
dl { margin-bottom: 0px; }
dl dd { margin-bottom: 15px; }

* object * { font-size: 12px; padding: 0; margin: 0; }
* p#webmark { margin: 0; padding: 0; }
* p#webmark * { padding: 0 5px 0 0; margin: 0; }
*.no-topmar { margin-top: 0; }
*.hl { background-color: teal; }
*.no-ui {
	font-size: 0px;
	line-height: 0px;
	position: absolute;
	margin: -32768px 0 0 -32768px;
}

object.w112-h168 { width: 112px; height: 68px; }
object.w64-h64 { width: 64px; height: 64px; }
object.has-ascii-art { padding: 0; }
object.has-ascii-art *.ascii-pic { margin: 0; }
object.header.left { float: left; margin: -1.48pt 5pt 0 0; }
*.ascii-pic, *.ascii-pic *
{
    font-size: 10px;
    white-space: normal;
}
*.header.right { margin: 14px 0; }
body.i-404 h1.header.right { padding: 0; margin: -14px 0; }
li.nomark {
	list-style: none;
	margin: 0;
	margin-left: -40px;
	padding: 0;
}

#nav {
	position: static;
	margin-left: 0px;
}
#nav li,
#nav li ul li { margin-bottom: 5px; }
#nav li ul {
	margin-left: 40px;
	padding-left: 20px;
}

@media only screen and (max-width: 500px) {
	object.header.left { clear: both; float: none; display: block; }
	*.header.right { margin: 5pt 0; }
}

@media only screen and (min-width: 600px) {
	body.has-nav { margin-left: 120pt; }
	body.has-nav *.desk-hidden {
		position: absolute;
		margin: -32768px 0 0 -32768px;
	}
	body.has-nav #nav {
		position: absolute;
		position: fixed;
		top: 0;
		padding: 6pt;
		margin: 0;
		margin-left: -126pt;
		width: 114pt;
		height: 100%;
	}
	body.has-nav #nav li.nomark { margin-left: 0; }
	body.has-nav #nav li ul { margin-left: 0px; }
	* p#webmark.has-obj { padding-left: 80px; }
	object.footer { display: block; margin-top: -49px; }
	object.footer.has-ascii-art *.ascii-pic *
    { font-size: 6px; }
}

@media only screen and (min-width: 615px) {
	body.has-nav { margin-left: 125pt; }
	body.has-nav #nav { width: 119pt; margin-left: -131pt; }
}

@media only screen and (min-width: 630px) {
	body.has-nav { margin-left: 130pt; }
	body.has-nav #nav { width: 124pt; margin-left: -136pt; }
}

@media only screen and (min-width: 645px) {
	body.has-nav { margin-left: 135pt; }
	body.has-nav #nav { width: 129pt; margin-left: -141pt; }
}

@media only screen and (min-width: 660px) {
	body.has-nav { margin-left: 140pt; }
	body.has-nav #nav { width: 134pt; margin-left: -146pt; }
}

@media only screen and (min-width: 675px) {
	body.has-nav { margin-left: 145pt; }
	body.has-nav #nav { width: 139pt; margin-left: -151pt; }
}

@media only screen and (min-width: 690px) {
	body.has-nav { margin-left: 150pt; }
	body.has-nav #nav { width: 144pt; margin-left: -156pt; }
}
